.profile-page {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fafb;
}

.profile-card {
  width: 380px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  padding: 25px;
  animation: fadeUp 0.4s ease;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #4f46e5;
}

.profile-header h2 {
  margin: 5px 0;
  color: #111827;
}

.profile-header p {
  font-size: 14px;
  color: #6b7280;
}

.profile-info {
  margin-top: 20px;
  border-top: 1px solid #e5e7eb;
  padding-top: 15px;
}

.back-btn{
    width: 45%;
}



.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.info-row span {
  color: #6b7280;
}

.info-row strong {
  color: #111827;
}
.reset-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #4f46e5;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s ease;
}

#back-btn {
 width: 45%;
}

.reset-btn:hover {
  background: #4338ca;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
